/.cask
/.hive-maint
/auto-save-list
/backups
/custom.el
/elpa
/forge-database.sqlite
/var
*.el~
eln-cache
epkgs
epkgs-v4
eshell
history
network-security.data
org-journal.cache
places
recentf
tramp
transient
url