[borg]
	pushDefault = rtwalker
[submodule "ace-link"]
	path = lib/ace-link
	url = git@github.com:abo-abo/ace-link.git
	ignore = untracked
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
	ignore = untracked
[submodule "alert"]
	path = lib/alert
	url = git@github.com:jwiegley/alert.git
	ignore = untracked
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
	ignore = untracked
[submodule "all-the-icons-dired"]
	path = lib/all-the-icons-dired
	url = git@github.com:wyuenho/all-the-icons-dired.git
[submodule "annalist"]
	path = lib/annalist
	url = git@github.com:noctuid/annalist.el.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
	info-path = doc
	build-step = make extraclean
	build-step = ./autogen.sh
	build-step = ./configure --prefix=$HOME --without-texmf-dir
	build-step = make
	build-step = borg-update-autoloads
	build-step = borg-makeinfo
	ignore = untracked
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "autothemer"]
	path = lib/autothemer
	url = git@github.com:jasonm23/autothemer.git
	ignore = untracked
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
	ignore = untracked
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
	ignore = untracked
[submodule "beeminder"]
	path = lib/beeminder
	url = git@github.com:mbork/beeminder.el.git
	ignore = untracked
[submodule "biblio"]
	path = lib/biblio
	url = git@github.com:cpitclaudel/biblio.el.git
	ignore = untracked
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "calfw"]
	path = lib/calfw
	url = git@github.com:kiwanami/emacs-calfw.git
	ignore = untracked
[submodule "cdlatex"]
	path = lib/cdlatex
	url = git@github.com:cdominik/cdlatex.git
	ignore = untracked
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "color-theme-sanityinc-solarized"]
	path = lib/color-theme-sanityinc-solarized
	url = git@github.com:purcell/color-theme-sanityinc-solarized.git
	ignore = untracked
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
	ignore = untracked
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
[submodule "corfu"]
	path = lib/corfu
	url = git@github.com:minad/corfu.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
	ignore = untracked
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
	ignore = untracked
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
	ignore = untracked
[submodule "dired-hacks"]
	path = lib/dired-hacks
	url = git@github.com:Fuco1/dired-hacks.git
	ignore = untracked
[submodule "dired-sidebar"]
	path = lib/dired-sidebar
	url = git@github.com:jojojames/dired-sidebar.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:hlissner/emacs-doom-themes.git
	ignore = untracked
[submodule "eglot"]
	path = lib/eglot
	url = git@github.com:joaotavora/eglot.git
	ignore = untracked
[submodule "eglot-jl"]
	path = lib/eglot-jl
	url = git@github.com:non-Jedi/eglot-jl.git
	ignore = untracked
[submodule "electric-operator"]
	path = lib/electric-operator
	url = git@github.com:davidshepherd7/electric-operator.git
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
	ignore = untracked
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
	ignore = untracked
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "ess"]
	path = lib/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
	ignore = untracked
[submodule "evil-collection"]
	path = lib/evil-collection
	url = git@github.com:emacs-evil/evil-collection.git
	ignore = untracked
[submodule "evil-lion"]
	path = lib/evil-lion
	url = git@github.com:edkolev/evil-lion.git
	ignore = untracked
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:emacs-evil/evil-surround.git
	ignore = untracked
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
	ignore = untracked
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
	ignore = untracked
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
	ignore = untracked
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
	ignore = untracked
[submodule "gams-mode"]
	path = lib/gams-mode
	url = git@github.com:ShiroTakeda/gams-mode.git
	ignore = untracked
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
	ignore = untracked
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
	ignore = untracked
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
	ignore = untracked
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "helm-bibtex"]
	path = lib/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
	ignore = untracked
[submodule "highlight-indentation"]
	path = lib/highlight-indentation
	url = git@github.com:antonj/Highlight-Indentation-for-Emacs.git
	ignore = untracked
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
	ignore = untracked
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
	ignore = untracked
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
	ignore = untracked
[submodule "hyperspec"]
	path = lib/hyperspec
	url = git@github.com:emacsorphanage/hyperspec.git
	ignore = untracked
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
	ignore = untracked
[submodule "julia-mode"]
	path = lib/julia-mode
	url = git@github.com:JuliaEditorSupport/julia-emacs.git
	ignore = untracked
[submodule "julia-snail"]
	path = lib/julia-snail
	url = git@github.com:gcv/julia-snail.git
	ignore = untracked
[submodule "kaolin-themes"]
	path = lib/kaolin-themes
	url = git@github.com:ogdenwebb/emacs-kaolin-themes.git
	ignore = untracked
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
	ignore = untracked
	build-step = borg-makeinfo
[submodule "libgit"]
	path = lib/libgit
	url = git@github.com:magit/libegit2.git
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:abo-abo/lispy.git
	ignore = untracked
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
	ignore = untracked
[submodule "math-symbol-lists"]
	path = lib/math-symbol-lists
	url = git@github.com:vspinu/math-symbol-lists.git
	ignore = untracked
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
	ignore = untracked
[submodule "minions"]
	path = lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "moody"]
	path = lib/moody
	url = git@github.com:tarsius/moody.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
	ignore = untracked
[submodule "notmuch"]
	path = lib/notmuch
	url = https://git.notmuchmail.org/git/notmuch
	load-path = emacs
	info-path = doc/_build/texinfo
	build-step = ./configure
	build-step = make
	build-step = make sphinx-texinfo
	build-step = borg-makeinfo
	ignore = untracked
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org"]
	path = lib/org
	url = https://code.orgmode.org/bzg/org-mode.git
	build-step = make
	load-path = lisp
	load-path = contrib/lisp
	info-path = doc
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
	ignore = untracked
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
	ignore = untracked
[submodule "org-noter"]
	path = lib/org-noter
	url = git@github.com:weirdNox/org-noter.git
	ignore = untracked
[submodule "org-pomodoro"]
	path = lib/org-pomodoro
	url = git@github.com:lolownia/org-pomodoro.git
	ignore = untracked
[submodule "org-ql"]
	path = lib/org-ql
	url = git@github.com:alphapapa/org-ql.git
	ignore = untracked
[submodule "org-ref"]
	path = lib/org-ref
	url = git@github.com:jkitchin/org-ref.git
	ignore = untracked
[submodule "org-super-agenda"]
	path = lib/org-super-agenda
	url = git@github.com:alphapapa/org-super-agenda.git
	ignore = untracked
[submodule "ov"]
	path = lib/ov
	url = git@github.com:emacsorphanage/ov.git
	ignore = untracked
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
	ignore = untracked
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
	ignore = untracked
[submodule "parsec"]
	path = lib/parsec
	url = git@github.com:cute-jumper/parsec.el.git
	ignore = untracked
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = git@github.com:politza/pdf-tools.git
	# build-step = sudo dnf install make automake autoconf gcc gcc-c++ ImageMagick libpng-devel zlib-devel poppler-glib-devel
	build-step = make
	build-step = borg-byte-compile
	build-step = borg-update-autoloads
	ignore = untracked
[submodule "peg"]
	path = lib/peg
	url = git@github.com:ellerh/peg.el.git
	ignore = untracked
[submodule "persist"]
	path = lib/persist
	url = git@github.com:emacsmirror/persist.git
	ignore = untracked
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
	ignore = untracked
[submodule "prescient"]
	path = lib/prescient
	url = git@github.com:raxod502/prescient.el.git
[submodule "project"]
	path = lib/project
	url = git@github.com:emacsmirror/project.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
	ignore = untracked
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
	ignore = untracked
[submodule "rg"]
	path = lib/rg
	url = git@github.com:dajva/rg.el.git
	ignore = untracked
[submodule "rust-mode"]
	path = lib/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
	ignore = untracked
[submodule "selectrum"]
	path = lib/selectrum
	url = git@github.com:raxod502/selectrum.git
[submodule "shell-pop"]
	path = lib/shell-pop
	url = git@github.com:kyagi/shell-pop-el.git
	ignore = untracked
[submodule "slime"]
	path = lib/slime
	url = git@github.com:slime/slime.git
	ignore = dirty
[submodule "spacemacs-theme"]
	path = lib/spacemacs-theme
	url = git@github.com:nashamri/spacemacs-theme.git
	ignore = untracked
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
	ignore = untracked
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
	ignore = untracked
[submodule "tree-sitter"]
	path = lib/tree-sitter
	url = git@github.com:ubolonton/emacs-tree-sitter.git
	load-path = core
	load-path = lisp
	load-path = langs
	ignore = untracked
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
	ignore = untracked
[submodule "ts"]
	path = lib/ts
	url = git@github.com:alphapapa/ts.el.git
	ignore = untracked
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
	ignore = untracked
[submodule "use-package-hydra"]
	path = lib/use-package-hydra
	url = git@gitlab.com:to1ne/use-package-hydra.git
	ignore = untracked
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = git@github.com:joostkremers/visual-fill-column.git
	ignore = untracked
[submodule "vterm"]
	path = lib/vterm
	url = git@github.com:akermu/emacs-libvterm.git
	ignore = untracked
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
	ignore = untracked
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
	ignore = untracked
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml"]
	path = lib/yaml
	url = git@github.com:zkry/yaml.el.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
	ignore = untracked
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
	ignore = untracked
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
	ignore = untracked
[submodule "zig-mode"]
	path = lib/zig-mode
	url = git@github.com:ziglang/zig-mode.git
	ignore = untracked
