[borg]
	pushDefault = rtwalker
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
	ignore = untracked
[submodule "alert"]
	path = lib/alert
	url = git@github.com:jwiegley/alert.git
	ignore = untracked
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
	ignore = untracked
[submodule "biblio"]
	path = lib/biblio
	url = git@github.com:cpitclaudel/biblio.el.git
	ignore = untracked
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
	ignore = untracked
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
	ignore = untracked
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
	ignore = untracked
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
	ignore = untracked
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "ess"]
	path = lib/ess
	url = git@github.com:emacs-ess/ESS.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
	ignore = untracked
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
	ignore = untracked
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
	ignore = untracked
[submodule "general"]
	path = lib/general
	url = git@github.com:noctuid/general.el.git
	ignore = untracked
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "graphql"]
	path = lib/graphql
	url = git@github.com:vermiculus/graphql.el.git
	ignore = untracked
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
[submodule "helm-bibtex"]
	path = lib/helm-bibtex
	url = git@github.com:tmalsburg/helm-bibtex.git
	ignore = untracked
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
	ignore = untracked
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
	ignore = untracked
[submodule "iedit"]
	path = lib/iedit
	url = git@github.com:victorhge/iedit.git
	ignore = untracked
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "julia-mode"]
	path = lib/julia-mode
	url = git@github.com:JuliaEditorSupport/julia-emacs.git
	ignore = untracked
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
	ignore = untracked
[submodule "linum-relative"]
	path = lib/linum-relative
	url = git@github.com:coldnew/linum-relative.git
	ignore = untracked
[submodule "lispy"]
	path = lib/lispy
	url = git@github.com:abo-abo/lispy.git
	ignore = untracked
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	recursive-byte-compile = true
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
	ignore = untracked
[submodule "notmuch"]
	path = lib/notmuch
	url = https://git.notmuchmail.org/git/notmuch
	ignore = untracked
[submodule "org-ref"]
	path = lib/org-ref
	url = git@github.com:jkitchin/org-ref.git
	ignore = untracked
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
	ignore = untracked
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = git@github.com:politza/pdf-tools.git
	ignore = untracked
[submodule "powerline"]
	path = lib/powerline
	url = git@github.com:milkypostman/powerline.git
	ignore = untracked
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
	ignore = untracked
[submodule "spaceline"]
	path = lib/spaceline
	url = git@github.com:TheBB/spaceline.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
	ignore = untracked
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
	ignore = untracked
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
	ignore = untracked
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "spacemacs-theme"]
	path = lib/spacemacs-theme
	url = git@github.com:nashamri/spacemacs-theme.git
	ignore = untracked
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
	ignore = untracked
[submodule "color-theme-sanityinc-solarized"]
	path = lib/color-theme-sanityinc-solarized
	url = git@github.com:purcell/color-theme-sanityinc-solarized.git
	ignore = untracked
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:emacs-evil/evil-surround.git
	ignore = untracked
[submodule "org-journal"]
	path = lib/org-journal
	url = git@github.com:bastibe/org-journal.git
	ignore = untracked
[submodule "ox-hugo"]
	path = lib/ox-hugo
	url = git@github.com:kaushalmodi/ox-hugo.git
[submodule "sword-to-org"]
	path = lib/sword-to-org
	url = https://github.com/alphapapa/sword-to-org.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
	ignore = untracked
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
	ignore = untracked
[submodule "dumb-jump"]
	path = lib/dumb-jump
	url = git@github.com:jacktasia/dumb-jump.git
[submodule "use-package-hydra"]
	path = lib/use-package-hydra
	url = git@gitlab.com:to1ne/use-package-hydra.git
