[include]
	path = .gitremotes
	path = .borgconfig
[submodule "ace-window"]
	path = lib/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "ag"]
	path = lib/ag
	url = https://github.com/Wilfred/ag.el
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "all-the-icons-dired"]
	path = lib/all-the-icons-dired
	url = https://github.com/wyuenho/all-the-icons-dired
[submodule "annalist"]
	path = lib/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "apheleia"]
	path = lib/apheleia
	url = https://github.com/radian-software/apheleia
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = https://github.com/abo-abo/avy
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:magit/closql.git
[submodule "compat"]
	path = lib/compat
	url = git@github.com:emacs-compat/compat.git
[submodule "consult"]
	path = lib/consult
	url = https://github.com/minad/consult
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "dim-autoload"]
	path = lib/dim-autoload
	url = git@github.com:tarsius/dim-autoload.git
[submodule "dimmer"]
	path = lib/dimmer
	url = https://github.com/gonewest818/dimmer.el
[submodule "doom-themes"]
	path = lib/doom-themes
	url = https://github.com/doomemacs/themes
[submodule "eat"]
	path = lib/eat
	url = https://codeberg.org/akib/emacs-eat
[submodule "eldoc-box"]
	path = lib/eldoc-box
	url = https://github.com/casouri/eldoc-box
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:magit/emacsql.git
[submodule "embark"]
	path = lib/embark
	url = https://github.com/oantolin/embark
[submodule "envrc"]
	path = lib/envrc
	url = https://github.com/purcell/envrc
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "evil"]
	path = lib/evil
	url = https://github.com/emacs-evil/evil
[submodule "evil-collection"]
	path = lib/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "evil-surround"]
	path = lib/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "gcmh"]
	path = lib/gcmh
	url = https://gitlab.com/koral/gcmh
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "goto-chg"]
	path = lib/goto-chg
	url = https://github.com/emacs-evil/goto-chg
[submodule "gptel"]
	path = lib/gptel
	url = https://github.com/karthink/gptel
[submodule "haskell-ts-mode"]
	path = lib/haskell-ts-mode
	url = https://codeberg.org/pranshu/haskell-ts-mode.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "hydra"]
	path = lib/hydra
	url = https://github.com/abo-abo/hydra
[submodule "inheritenv"]
	path = lib/inheritenv
	url = https://github.com/purcell/inheritenv
[submodule "julia-mode"]
	path = lib/julia-mode
	url = https://github.com/JuliaEditorSupport/julia-emacs
[submodule "kotlin-ts-mode"]
	path = lib/kotlin-ts-mode
	url = https://gitlab.com/bricka/emacs-kotlin-ts-mode
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "minions"]
	path = lib/minions
	url = https://github.com/tarsius/minions
[submodule "morlock"]
	path = lib/morlock
	url = git@github.com:tarsius/morlock.git
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "orderless"]
	path = lib/orderless
	url = https://github.com/oantolin/orderless
[submodule "org"]
	path = lib/org
	url = https://git.savannah.gnu.org/git/emacs/org-mode.git
[submodule "orglink"]
	path = lib/orglink
	url = git@github.com:tarsius/orglink.git
[submodule "paren-face"]
	path = lib/paren-face
	url = git@github.com:tarsius/paren-face.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = https://github.com/vedang/pdf-tools
[submodule "popper"]
	path = lib/popper
	url = https://github.com/karthink/popper
[submodule "posframe"]
	path = lib/posframe
	url = https://github.com/tumashu/posframe
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "racket-mode"]
	path = lib/racket-mode
	url = https://github.com/greghendershott/racket-mode
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "raku-mode"]
	path = lib/raku-mode
	url = https://github.com/Raku/raku-mode
[submodule "rg"]
	path = lib/rg
	url = https://github.com/dajva/rg.el
[submodule "rust-mode"]
	path = lib/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "s"]
	path = lib/s
	url = https://github.com/magnars/s.el
[submodule "sbt-mode"]
	path = lib/sbt-mode
	url = https://github.com/hvesalai/emacs-sbt-mode
[submodule "scala-mode"]
	path = lib/scala-mode
	url = https://github.com/hvesalai/emacs-scala-mode
[submodule "spacious-padding"]
	path = lib/spacious-padding
	url = https://git.sr.ht/~protesilaos/spacious-padding
[submodule "tablist"]
	path = lib/tablist
	url = https://github.com/politza/tablist
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "undo-tree"]
	remote = silent http://www.dr-qubit.org/git/undo-tree.git
	path = lib/undo-tree
	url = git@github.com:tarsiiformes/undo-tree.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "wgrep"]
	path = lib/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "which-key"]
	path = lib/which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
